<header class="masthead mb-auto">
  <div class="inner">
    <a class="masthead-brand">
      <img src="../../assets/img/logo_nbc_small.svg" alt="logo" width="200px" height="50px">
    </a>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="https://www.instagram.com/nadab_ajocontrol/" target="_blank"> <i class="fab fa-instagram"></i> Instagram</a>
      <a class="nav-link" href="https://anchor.fm/nada-bajo-control" target="_blank"> <i class="fas fa-envelope"></i> Contacto</a>
    </nav>
  </div>
</header>