<div class="row">
  <div class="col cover-heading">
    <img src="../../assets/img/logo_nbc.svg" alt="logo" width="200px" height="200px">
  </div>
</div>
<div class="row">
  <div class="col home-card">
    <div class="btn-group">
      <button onclick="window.open('https://open.spotify.com/show/0VneqAWAFAwKOPRjyO6aQF', '_blank')"
        class="btn btn-lg btn-secondary"><i class="fab fa-spotify"
        target="_blank"></i> Spotify</button>
        
      <button onclick="window.open('https://podcasts.apple.com/cr/podcast/nada-bajo-control/id1528272466', '_blank')"
        class="btn btn-lg btn-secondary"
        target="_blank"><i class="fab fa-apple"></i> iTunes</button>
    </div>
    <p class="lead">
    </p>
    <p class="lead">
      Un informático, un sociólogo y un comunicador se sientan a hablar y se dan cuenta que nada está bajo control.
    </p>
    <p class="lead">
      NBC es un podcast que analliza temas de innovación, emprendimiento y productividad desde una perspectiva jóven, empática y
      realista. Aquí no creemos en las recetas mágicas ni en discursos, si no en el trabajo hecho. Tampoco creemos en planes
      rígidos, sino que a veces no tenemos todo bajo control, y eso está bien.
    </p>
    
    <h2>Último episodio</h2>
    <iframe src="https://open.spotify.com/embed-podcast/show/0VneqAWAFAwKOPRjyO6aQF" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>